# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Rider / Resharper
.idea/
*.sln.iml
*.DotSettings.user

# NuGet
*.nupkg
packages/
.nuget/

# VS Code
.vscode/

# ASP.NET Core
wwwroot/lib/
node_modules/

# Logs
*.log

# Temporary files
*.tmp
